@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family: var(--font-figtree);
  --font-urbanist: var(--font-urbanist);
  --font-nunito: var(--font-nunito);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010101;
    /* --foreground: #ededed; */
    --foreground: white;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree), sans-serif;
}

.font-figtree {
  font-family: var(--font-figtree);
}

.font-urbanist {
  font-family: var(--font-urbanist);
}

.font-nunito {
  font-family: var(--font-nunito);
}

.container-padding {
  @apply px-5 md:px-[215px];
}